minio:
  release: minio.RELEASE.2020-07-22T00-26-33Z
  platform: linux-amd64
  download_url: https://dl.min.io/server/minio/release/
  install_path: /usr/local/bin/
  user: minio
  group: minio
  uid: 900
  gid: 900
  limit_nofile: 65536
  access_key: AKIAIOSFODNN7EXAMPLE
  secret_key: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  volumes: /tmp/test
  browser: 'off'
  drive_sync: 'on'
  http_trace: /var/log/minio.log
  port: 9000
